<!DOCTYPE html>

<html lang="en">
    <head>
        <!--to optimize for viewport, regardless of width of device-->
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>
            hello!
        </title>
        <body>
            hello, {{ placeholder }}
            <!--the curly braces is a syntax of Jinja, that standardizes how placeholders/variables are defined-->
            <!--this placeholder can be called in app.py-->
        </body>
    </head>
</html>
